*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fcfcf7;
    color: #1f1f09;
}

header {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
}

#dropdown {
    max-width: 220px;
    margin: 20px auto;
}

.dropdown-toggle {
    display: block;
    padding: 12px 20px;
    cursor: pointer;
}

.menu {
    display: none;
    background-color: #fff;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.menu-item:last-child {
    border-bottom: none;
}

.submenu {
    display: none;
    background-color: #f9f9f9;
}

.submenu-item {
    padding: 10px 30px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.submenu-item:last-child {
    border-bottom: none;
}

.menu,
.submenu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.menu {
    width: 100%;
    transform: translateY(-12px);
}

.menu.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(12px);
}

.submenu {
    width: max-content;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-12px, 0);
}

.menu-item:hover > .submenu-toggle + .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(8px, 0);
}